Dashboard/n8n/prospect-enrichment-northspec.json
{
  "name": "Prospect Enrichment Workflow - Northspec Integration",
  "nodes": [
    {
      "parameters": {},
      "id": "6da8ceeb-5990-4433-9639-f44be9561576",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [448, 512],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p3iac4hmm93iief",
        "table": "m4v2qbu9q4yewh4",
        "returnAll": true,
        "options": {
          "where": ""
        }
      },
      "id": "93c4a1b9-a335-4277-8a97-942fa5f26678",
      "name": "Get many rows",
      "type": "n8n-nodes-base.nocoDb",
      "position": [672, 512],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.company_name || \"a\" }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "630c297f-098c-4e41-b86e-d685bd736e36",
      "name": "serper search domains",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1776, 512],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Role\nYou are an expert web search result analyzer.\n\n# Goal\nIdentify the official website of a given company from a list of search results and output its details in a structured JSON format.\n\n# Input\nA JSON object containing company search parameters and organic search results.\n\n## Schema\n```json\n{\n  \"searchParameters\": {\n    \"q\": \"string\", // Company Name\n    \"location\": \"string\" // Location\n  },\n  \"organic\": [\n    {\n      \"title\": \"string\",\n      \"link\": \"string\",\n      \"snippet\": \"string\"\n    }\n  ]\n}\n```\n\n# Output\nA JSON object containing the identified company website details or an explanation if no suitable result is found.\n\n## Schema\n```json\n{\n  \"company_name\": \"string | null\",\n  \"location\": \"string | null\",\n  \"url\": \"string | null\",\n  \"domain\": \"string | null\",\n  \"explanation\": \"string\"\n}\n```\n\n# Rules\n*   Prioritize selecting the search result that is most likely the official website for the company. The company name (`searchParameters.q`) is the primary clue; the location (`searchParameters.location`) is a secondary clue.\n*   Do not select results that are generic platforms or social networks (e.g., Facebook, Instagram, LinkedIn, Twitter, or similar). Only select the company's own website or a site that clearly represents the company.\n*   If no suitable official website is found, set `url` and `domain` to `null` and provide a clear `explanation`.\n*   If required input fields like `searchParameters.q`, `searchParameters.location`, or `organic` are missing or invalid, provide an explanation in the `explanation` field indicating the input issue and set `company_name`, `location`, `url`, and `domain` to `null`.\n*   The output must be strictly a JSON object.\n",
              "role": "assistant"
            },
            {
              "content": "=Company Name: {{ $json?.searchParameters?.q }}\nLocation: {{ $json?.searchParameters?.location }}\nSearch Results: {{ JSON.stringify($json?.organic) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "id": "082ee8da-fa0c-4af3-a075-0431b2a4cd64",
      "name": "extract url & domain",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [2000, 512],
      "retryOnFail": true,
      "typeVersion": 1.8,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.1/find-email/decision-maker",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{$json.domain ? \"domain\" : \"company_name\"}}",
              "value": "={{ $json.domain ? $json.domain :$('Get many rows').item.json.company_name.split(\",\")[0]}}"
            },
            {
              "name": "decision_maker_category",
              "value": "=sales"
            }
          ]
        },
        "options": {}
      },
      "id": "b538f2be-7e6c-4df9-aedb-d68227710503",
      "name": "Get Sales Decision Maker Email",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2576, 320],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.1/find-email/decision-maker",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{$json.domain ? \"domain\" : \"company_name\"}}",
              "value": "={{ $json.domain ? $json.domain :$('Get many rows').item.json.company_name.split(\",\")}}"
            },
            {
              "name": "decision_maker_category",
              "value": "=marketing"
            }
          ]
        },
        "options": {}
      },
      "id": "b8f460cd-d9f3-43cc-bf50-a3b450e1b32d",
      "name": "Get Marketing Email",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2576, 704],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.1/find-email/decision-maker",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{$json.domain ? \"domain\" : \"company_name\"}}",
              "value": "={{ $json.domain ? $json.domain :$('Get many rows').item.json.company_name.split(\",\")[0]}}"
            },
            {
              "name": "decision_maker_category",
              "value": "=ceo"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "ac2c77cb-477d-4a99-a7ec-bec14411acfd",
      "name": "Get CEO Email",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2576, 512],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p3iac4hmm93iief",
        "table": "m4v2qbu9q4yewh4",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "url",
              "fieldValue": "={{ $json.message.content.url || $json.message.content.explanation }}"
            },
            {
              "fieldName": "domain",
              "fieldValue": "={{ $json.message.content.domain }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "={{$json.message.content.domain ? \"domain found\" : \"domain not found\"}}"
            },
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Get many rows').item.json.Id }}"
            }
          ]
        }
      },
      "id": "8a391d86-351e-4fed-a37a-adc6e00bc672",
      "name": "Update Companies Domains",
      "type": "n8n-nodes-base.nocoDb",
      "position": [2224, 512],
      "retryOnFail": true,
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NORTHSPEC_API_URL || 'http://localhost:4000'}}/api/n8n/prospects/domain",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "externalId",
              "value": "={{ $('Get many rows').item.json.Id }}"
            },
            {
              "name": "companyName",
              "value": "={{ $json.message.content.company_name || $('Get many rows').item.json.company_name }}"
            },
            {
              "name": "location",
              "value": "={{ $json.message.content.location || $('Get many rows').item.json.location }}"
            },
            {
              "name": "url",
              "value": "={{ $json.message.content.url }}"
            },
            {
              "name": "domain",
              "value": "={{ $json.message.content.domain }}"
            },
            {
              "name": "explanation",
              "value": "={{ $json.message.content.explanation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sync-domain-northspec",
      "name": "Sync Domain to Northspec API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2400, 512],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b683ecec-3f29-46b8-b989-4014c5728704",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.email }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "7a0a3592-eef0-46f5-8658-4c3c6cac4552",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [1040, 1472],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "email",
        "options": {}
      },
      "id": "52c39132-79b1-4034-afdf-1704a671f87d",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [1264, 1472],
      "typeVersion": 2
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "01369a10-dd8a-4106-b4c6-3bf6e349b3ae",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [3024, 496],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3697ca41-5c7a-4386-9800-6336686e4cbc",
              "name": "company_name",
              "type": "string",
              "value": "={{ $('Get many rows').item.json.company_name }}"
            },
            {
              "id": "9f7ee1d8-ca3f-4c51-b87e-54ed2d4259e9",
              "name": "name",
              "type": "string",
              "value": "={{ $json.person_full_name }}"
            },
            {
              "id": "92e8422b-d1cb-49d5-ad80-a050713c2205",
              "name": "linkedin",
              "type": "string",
              "value": "={{ $json.person_linkedin_url }}"
            },
            {
              "id": "c94b713b-bf97-4ff6-afba-ee550458d728",
              "name": "person_job_title",
              "type": "string",
              "value": "={{ $json.person_job_title }}"
            },
            {
              "id": "9994253b-46d4-4089-9ab8-4c66f0daa651",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            },
            {
              "id": "dfef0645-13ab-4382-a555-1f8b5345fcbb",
              "name": "email_status",
              "type": "string",
              "value": "={{ $json.email_status }}"
            },
            {
              "id": "efd995eb-c65c-40e8-a5c1-db1b0f7bb6e8",
              "name": "company_id",
              "type": "number",
              "value": "={{ $('Update Companies Domains').item.json.Id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0dce0935-6cca-4d29-97e4-dc51625e057d",
      "name": "Extract Data3",
      "type": "n8n-nodes-base.set",
      "position": [2800, 512],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3697ca41-5c7a-4386-9800-6336686e4cbc",
              "name": "company_name",
              "type": "string",
              "value": "={{ $('Get many rows').item.json.company_name }}"
            },
            {
              "id": "9f7ee1d8-ca3f-4c51-b87e-54ed2d4259e9",
              "name": "name",
              "type": "string",
              "value": "={{ $json.person_full_name }}"
            },
            {
              "id": "92e8422b-d1cb-49d5-ad80-a050713c2205",
              "name": "linkedin",
              "type": "string",
              "value": "={{ $json.person_linkedin_url }}"
            },
            {
              "id": "c94b713b-bf97-4ff6-afba-ee550458d728",
              "name": "person_job_title",
              "type": "string",
              "value": "={{ $json.person_job_title }}"
            },
            {
              "id": "9994253b-46d4-4089-9ab8-4c66f0daa651",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            },
            {
              "id": "dfef0645-13ab-4382-a555-1f8b5345fcbb",
              "name": "email_status",
              "type": "string",
              "value": "={{ $json.email_status }}"
            },
            {
              "id": "efd995eb-c65c-40e8-a5c1-db1b0f7bb6e8",
              "name": "company_id",
              "type": "number",
              "value": "={{ $('Update Companies Domains').item.json.Id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4dff568-a51f-4872-b0e4-72c661c25cab",
      "name": "Extract Data4",
      "type": "n8n-nodes-base.set",
      "position": [2800, 704],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3697ca41-5c7a-4386-9800-6336686e4cbc",
              "name": "company_name",
              "type": "string",
              "value": "={{ $('Get many rows').item.json.company_name }}"
            },
            {
              "id": "9f7ee1d8-ca3f-4c51-b87e-54ed2d4259e9",
              "name": "name",
              "type": "string",
              "value": "={{ $json.person_full_name }}"
            },
            {
              "id": "92e8422b-d1cb-49d5-ad80-a050713c2205",
              "name": "linkedin",
              "type": "string",
              "value": "={{ $json.person_linkedin_url }}"
            },
            {
              "id": "c94b713b-bf97-4ff6-afba-ee550458d728",
              "name": "person_job_title",
              "type": "string",
              "value": "={{ $json.person_job_title }}"
            },
            {
              "id": "9994253b-46d4-4089-9ab8-4c66f0daa651",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            },
            {
              "id": "dfef0645-13ab-4382-a555-1f8b5345fcbb",
              "name": "email_status",
              "type": "string",
              "value": "={{ $json.email_status }}"
            },
            {
              "id": "efd995eb-c65c-40e8-a5c1-db1b0f7bb6e8",
              "name": "company_id",
              "type": "number",
              "value": "={{ $('Update Companies Domains').item.json.Id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f18e429c-a7ee-4eb9-9fab-02f1e2a7ad1b",
      "name": "Extract Data5",
      "type": "n8n-nodes-base.set",
      "position": [2800, 320],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NORTHSPEC_API_URL || 'http://localhost:4000'}}/api/n8n/prospects/decision-makers/bulk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contacts: $items().map(i => i.json) }) }}"
      },
      "id": "sync-contacts-northspec",
      "name": "Sync Decision Makers to Northspec API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1488, 1680],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p3iac4hmm93iief",
        "table": "m4v2qbu9q4yewh4",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.companies_id }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "=Email Found: {{ $json.email_status }}"
            }
          ]
        }
      },
      "id": "1e1931a2-6902-4da1-8ec2-ff8ea907defb",
      "name": "Update Company Status",
      "type": "n8n-nodes-base.nocoDb",
      "position": [1936, 1472],
      "retryOnFail": true,
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\nconst items = $input.all().map(item => item.json);\n\nconst grouped = {};\n\nfor (const item of items) {\n  const companyId = item.companies_id;\n  if (!grouped[companyId]) {\n    grouped[companyId] = [];\n  }\n  grouped[companyId].push(item.email_status);\n}\n\n// Build array of objects for n8n update nodes\nconst result = Object.entries(grouped).map(([companyId, statuses]) => ({\n  companies_id: Number(companyId),\n  email_status: statuses.every(status => status === \"risky\") ? \"risky\" : \"valid\"\n}));\n\nreturn result.map(obj => ({ json: obj }));\n"
      },
      "id": "605d1f31-68ab-4927-b55f-7bfe93f03417",
      "name": "Determine Email Status by Company",
      "type": "n8n-nodes-base.code",
      "position": [1712, 1472],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p3iac4hmm93iief",
        "table": "m4v2qbu9q4yewh4",
        "returnAll": true,
        "options": {}
      },
      "id": "e813ccdb-869c-4fed-a48d-2f9ed5e587a4",
      "name": "Get All Company Status",
      "type": "n8n-nodes-base.nocoDb",
      "position": [2160, 1472],
      "executeOnce": true,
      "retryOnFail": true,
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3633627d-3e09-44da-9786-2d0578a08588",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "risky"
            }
          ]
        },
        "options": {}
      },
      "id": "3b463403-183a-42a7-a831-16ca9d07ec20",
      "name": "If Only Risky Emails1",
      "type": "n8n-nodes-base.filter",
      "position": [2608, 1408],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b533cf68-9784-4d35-87e3-93bea1287839",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "Email Found"
            }
          ]
        },
        "options": {}
      },
      "id": "209cce59-a58a-4f54-946a-0c86f143e89a",
      "name": "If Email Found1",
      "type": "n8n-nodes-base.if",
      "position": [2384, 1584],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.1/find-email/company",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{ $json.domain? \"domain\" : \"company_name\"}}",
              "value": "={{$json.domain? $json.domain :$json.company_name.split(\",\")[0] }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 20
            }
          }
        }
      },
      "id": "d4c1a9fe-8040-49de-b059-1e86a5cd48a8",
      "name": "Get All Company Emails",
      "type": "n8n-nodes-base.httpRequest",
      "position": [3056, 1472],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p3iac4hmm93iief",
        "table": "m4v2qbu9q4yewh4",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "emails",
              "fieldValue": "={{ $json.emails.join() }}"
            },
            {
              "fieldName": "company_emails_status",
              "fieldValue": "={{ $json.email_status }}"
            },
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Merge').item.json.Id }}"
            }
          ]
        }
      },
      "id": "612a4d0c-8c50-41b7-aa80-6c9538d1af11",
      "name": "Update Company Emails",
      "type": "n8n-nodes-base.nocoDb",
      "position": [3280, 1472],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NORTHSPEC_API_URL || 'http://localhost:4000'}}/api/n8n/prospects/company-emails",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "externalId",
              "value": "={{ $('Merge').item.json.Id }}"
            },
            {
              "name": "companyName",
              "value": "={{ $('Merge').item.json.company_name }}"
            },
            {
              "name": "emails",
              "value": "={{ $json.emails.join(',') }}"
            },
            {
              "name": "emailStatus",
              "value": "={{ $json.email_status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sync-company-emails-northspec",
      "name": "Sync Company Emails to Northspec API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [3504, 1472],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 500,
        "options": {}
      },
      "id": "6dfb844b-2015-4c36-8e89-c8130dfb2d81",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [1104, 512],
      "retryOnFail": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "4b32d92d-dd17-4611-b515-ca646e816fd9",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "5ed61583-7c43-4a13-8fe2-7c1bb8ac92b6",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "position": [1552, 512],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p3iac4hmm93iief",
        "table": "m1yxldkvwib7f98",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "companies_id",
              "fieldValue": "={{ $json.company_id }}"
            },
            {
              "fieldName": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldName": "position",
              "fieldValue": "={{ $json.person_job_title }}"
            },
            {
              "fieldName": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldName": "email_status",
              "fieldValue": "={{ $json.email_status }}"
            },
            {
              "fieldName": "linkedin_url",
              "fieldValue": "={{ $json.linkedin }}"
            }
          ]
        }
      },
      "id": "718e636a-2276-4952-860c-59165ba30f03",
      "name": "Create Contacts",
      "type": "n8n-nodes-base.nocoDb",
      "position": [1488, 1472],
      "retryOnFail": true,
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "9546fa84-11ca-478e-8dd4-ae8b41983687",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [1328, 512],
      "webhookId": "d864c1e0-96f6-4740-aded-94561fb7d7d8",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 12
            }
          ]
        }
      },
      "id": "78603769-93c4-4c6a-801e-6c6a8608b0e5",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [368, 240],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "fca2046b-9110-4e52-8c45-c6f0cc9d59f0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [2832, 1472],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "## Northspec API Integration\nSet environment variable NORTHSPEC_API_URL in n8n\nDefault: http://localhost:4000\n\nEndpoints used:\n- POST /api/n8n/prospects/domain\n- POST /api/n8n/prospects/decision-makers/bulk\n- POST /api/n8n/prospects/company-emails",
        "height": 200,
        "width": 400,
        "color": 7
      },
      "id": "northspec-note",
      "name": "Northspec Integration Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [160, 640],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "serper search domains": {
      "main": [
        [
          {
            "node": "extract url & domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract url & domain": {
      "main": [
        [
          {
            "node": "Update Companies Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Companies Domains": {
      "main": [
        [
          {
            "node": "Sync Domain to Northspec API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Domain to Northspec API": {
      "main": [
        [
          {
            "node": "Get Sales Decision Maker Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get CEO Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Marketing Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Decision Maker Email": {
      "main": [
        [
          {
            "node": "Extract Data5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Marketing Email": {
      "main": [
        [
          {
            "node": "Extract Data4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CEO Email": {
      "main": [
        [
          {
            "node": "Extract Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company Status": {
      "main": [
        [
          {
            "node": "Get All Company Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Create Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Decision Makers to Northspec API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Data4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract Data5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Email Status by Company": {
      "main": [
        [
          {
            "node": "Update Company Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Company Status": {
      "main": [
        [
          {
            "node": "If Email Found1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Only Risky Emails1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Found1": {
      "main": [
        [
          {
            "node": "If Only Risky Emails1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get All Company Emails": {
      "main": [
        [
          {
            "node": "Update Company Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company Emails": {
      "main": [
        [
          {
            "node": "Sync Company Emails to Northspec API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Company Emails to Northspec API": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "serper search domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contacts": {
      "main": [
        [
          {
            "node": "Determine Email Status by Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get All Company Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateId": "7543",
    "instanceId": "ab703fd4ce688ef8190dfe82bc0b8d151bb0e46c9dbf2b013ae9a905384ddad4"
  }
}
